<template>
  <b-container fluid style="margin: 10px;">
    <b-row>
      <b-col cols="12" md="6" style="margin-top:10px;">
        <b-carousel v-model="actualImageIndex" :interval="4000" controls indicators no-animation background="#ababab"
          style="text-shadow: 1px 1px 2px #333;">
          <b-carousel-slide v-for="item in car.pictureUrls" :key="item.id" :img-src="item"></b-carousel-slide>
        </b-carousel>
      </b-col>
      <b-col cols="12" md="6" style="margin-top:10px;">
        <div class="informartionCol">
        <b-row class="justify-content-center">
          <h3>{{car.title}}</h3>
        </b-row>
        <b-row style="margin: 10px; padding: 5px;">
          <b-col>
            <h5>Pris: {{car.price}}</h5>
            <h5>Km: {{car.km}}</h5>
            <h5>Km/l: {{car.kmPrLiter}}</h5>
            <br>
          </b-col>
          <b-col class="d-flex justify-content-center align-items-center">
            <b-button href="https://ikanobank.dk/laan" variant="success">Tryk her for at finansere nu!</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="padding-left: 50px;">
            <h4>
              Udstyr:
            </h4>
            {{equipments()}}
          </b-col>
        </b-row>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" style="float: left; margin-top: 10px; margin-bottom: 30px;" class="d-none d-md-block">
        <b-img :class="{ pickedCar: index === actualImageIndex }" style="width: 100px; cursor: pointer; max-height: 80px;" thumbnail v-for="(item, index) in car.pictureUrls" :key="index" :src="item" @click="selectCar(index)"></b-img>
      </b-col>
      <b-col cols="12">
        <span style="margin: 10px;" v-html="description"></span>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
        id: this.$route.params.id,
        actualImageIndex: 0
    }
  },
  computed: {
      car() {
        return this.$store.state.data.find(car => car.id === this.id);
      },
      description() {
        return this.car.description.replace(/(?:\r\n|\r|\n)/g, '<br>');
      }
  },
  methods: {
      selectCar(index) {
        this.actualImageIndex = index;
      },
      equipments() {
        let text = ""
        let eq = this.$store.state.data.find(car => car.id === this.id).equipment;
        for (const equiment in eq) {
          if (eq.hasOwnProperty(equiment)) {
            const element = eq[equiment];
            text = text + element + ", "
          }
        }
        text = text.substring(0, text.length - 2) + ".";
        return text
      }
  }
}
</script>

<style>
  .pickedCar {
    background-color: blue;
  }
  .informartionCol {
    background: lightgrey;
    padding: 20px;
  }
  .carousel-indicators > li {
    border-radius: 50%;
  }

    .carousel-item img {
      max-height:500px!important ;
    }

</style>