<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px;">
        <b-dropdown id="dropdown-1" text="Vælg sortering" class="m-md-2">
          <b-dropdown-item v-for="option in ddTestVm.options" :key="option.value" :value="option.value"
            @click="orderCars(option.value)">
            {{option.text}}
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col cols="12" md="4" v-for="item in $store.state.data" :key="item.id">
        <b-card class="mb-2">
          <b-card-header>{{item.title}}</b-card-header>
          <b-img-lazy :src="item.pictureUrls[0]" fluid alt="Responsive image"></b-img-lazy>
          <b-card-footer>
            <b-row>
              <b-col class="d-flex justify-content-center align-items-center">
                <h4>{{item.price}}</h4>
              </b-col>
              <b-col class="d-flex justify-content-center align-items-center">
                <h5>{{item.km}} km</h5>
              </b-col>
              <b-col class="d-flex justify-content-center align-items-center">
                <b-button @click="carPicked(item)" variant="success">Se bilen</b-button>
              </b-col>
            </b-row>
          </b-card-footer>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import moment from 'moment';

  export default {
    data() {
      return {
        someOtherProperty: null,
        ddTestVm: {
          originalValue: [],
          ddTestSelectedOption: "Value1",
          disabled: false,
          readonly: false,
          visible: true,
          options: [{
              "value": "Value1",
              "text": "Pris faldende"
            },
            {
              "value": "Value2",
              "text": "Pris stigende"
            },
            {
              "value": "Value3",
              "text": "Km faldende"
            },
            {
              "value": "Value4",
              "text": "Km stigende"
            }
          ]
        }
      }
    },
    computed: {
      headerText: function () {
        if (this.$store.state.data && this.$store.state.data.length) {
          const date = moment(this.$store.state.data.update_time);
          return `Vi har ligenu ${this.$store.state.data.length} biler på lager som kan leveres nysynet (+1995 kr).`; // , sidst opdateret ${date.format("D.MM.YYYY HH:mm")}
        }
      }
    },
    methods: {
      carPicked(record, index) {
        this.$router.push({
          path: `/biler/${record.id}`
        });
      },
      orderCars(value) {
        this.ddTestVm.ddTestSelectedOption = value;
        this.$store.dispatch("sortCars", value);
      }
    }
  }
</script>

<style>
  .imageCellDesktop {
    width: 220px;
  }
  .imageCellMobile {
    width: 40vh;
  }
  .factCellDesktop {
    width: 140px;
  }
  .hidden_header {
    display: none;
  }
  ul {
    list-style-type: none;
  }
</style>
