<template>
  <div>
    <b-navbar toggleable type="light" variant="light" sticky>
      <b-navbar-brand href="#">
         <b-img src="/logo.png" style="height: 50px; width:100px;" @click="gotoHome()"></b-img>
      </b-navbar-brand>
      <b-nav align="right" v-if="isDesktopScreen()">
          <b-nav-item href="#" @click="gotoHome()">Forside</b-nav-item>
          <b-nav-item href="#" @click="gotoCars()">Biler</b-nav-item>
          <b-nav-item href="#" @click="gotoFinansering()">Finansering</b-nav-item>
          <b-nav-item href="#" @click="about()">Om os</b-nav-item>
      </b-nav>
      <b-navbar-toggle target="navbar-toggle-collapse" style="background-color: darkblue;" v-else>
        <template v-slot:default="{ expanded }">
          <b-icon v-if="expanded" icon="chevron-up" style="color: white;"></b-icon>
          <b-icon v-else icon="chevron-down" style="color: white;" ></b-icon>
        </template>
      </b-navbar-toggle>
      <b-collapse id="navbar-toggle-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#" @click="gotoHome()">Forside</b-nav-item>
          <b-nav-item href="#" @click="gotoCars()">Biler</b-nav-item>
          <b-nav-item href="#" @click="gotoFinansering()">Finansering</b-nav-item>
          <b-nav-item href="#" @click="about()">Om os</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <Nuxt />
    <b-row class="text-center" style="margin-top: 10vh; background-color: black; color: white; height: 75px;">
      <b-col class="d-flex justify-content-center align-items-center">
        <h4>Copyright © 2020 Damtopbiler Aps</h4>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  created: function() {
    this.$store.dispatch("load");
  },
  methods: {
    gotoHome: function() {
      this.$router.push({path: "/"});
    },
    isDesktopScreen: function() {
      return window.matchMedia("(min-width: 800px)").matches
    },
    gotoCars: function() {
      this.$router.push({path: "/biler"});
    },
    gotoFinansering: function() {
      this.$router.push({path: "/finansering"});
    },
    about: function() {
      this.$router.push({path: "/about"});
    }
  }
}

</script>

<style>
</style>
