'<template>
  <b-container fluid>
    <b-row>
      <b-col cols="6" offset="3" style="margin-top: 20px;">
        <div class="d-flex justify-content-center align-items-center">
        <h4>
          Hos Damtop Biler ApS får du en TRYG OG SIKKER handel igennem hele forløbet! 
        </h4>
        </div>
      </b-col>
      <b-col cols="6" offset="3">
        <div class="d-flex justify-content-center align-items-center">

              Hos os er kunden i centrum og vi vil altid gøre vores bedste for at give den bedst mulige rådgivning vedr. dit næste bilkøb
        Damtop Biler ApS sælger brugte biler, og har altid et stort og bredt udvalg. 
        Vi kan derfor altid være behjælpelig med at finde din næste bil.
        Vi er beliggende i Fredericia og kan træffes alle dage efter aftale!
        </div>
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-top: 6vh;">
      <b-col cols="12" md="3" offset-md="1" class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
          <b-row>
            <b-col cols="12" >
                <b-icon icon="house" style="width: 120px; height: 120px;"></b-icon>
            </b-col>
            <b-col cols="12" style="margin-top: 5px;">
                <h6>Vi befinder os centralt i Danmark</h6>
            </b-col>
            <b-col cols="12" style="margin-top: 20px;">
                <a href="https://www.google.dk/maps/place/Damtop+Biler+Aps/@55.536404,9.7117453,17z/data=!3m1!4b1!4m5!3m4!1s0x464c978f38f5c8a1:0x50e584123c8852ef!8m2!3d55.536401!4d9.713934">
                    <h4>Gl landevej 86, 7000 Fredericia</h4>
                </a>
            </b-col>
          </b-row>
      </b-col>
      <b-col cols="12" md="3" class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
          <b-row>
            <b-col cols="12" >
                <b-icon icon="telephone" style="width: 120px; height: 120px;"></b-icon>
            </b-col>
            <b-col cols="12" style="margin-top: 5px;">
                <h6>Vi er altid klar ved telefonen</h6>
            </b-col>
            <b-col cols="12" style="margin-top: 20px;">
                <a href="tel:+4541100076">
                    <h4>+45 41 10 00 76</h4>
                </a>
                <a href="tel:+4541100079">
                    <h4>+45 41 10 00 79</h4>
                </a>
            </b-col>
          </b-row>
      </b-col>
      <b-col cols="12" md="3" class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
          <b-row>
            <b-col cols="12" >
                <b-icon icon="mailbox" style="width: 120px; height: 120px;"></b-icon>
            </b-col>
            <b-col cols="12" style="margin-top: 5px;">
                <h6>Send os en mail</h6>
            </b-col>
            <b-col cols="12" style="margin-top: 20px;">
                <a href="mailto:damtopbiler@outlook.com"> 
                    <h4>damtopbiler@outlook.com</h4>
                </a>
            </b-col>
          </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {

}
</script>

<style>

 @media only screen and (max-width: 600px) {

   h6 {
       font-size: 2vw;
   }

   h4 {
     font-size: 4vw;
   }

   h1 {
     font-size: 5vw;
   }
 }

 @media only screen and (min-width: 600px) {

    h6 {
       font-size: 0.7vw;
   }

   h4 {
     font-size: 1.2vw;
   }

   h1 {
     font-size: 3vw;
   }
 }
</style>