'<template>
  <b-container fluid>
    <b-row class="text-center" style="background-color: rgb(242,242,242,242); padding-top: 15vh; padding-bottom: 15vh;">
      <b-col cols="8" md="5" offset-md="1" offset="2" >
        <b-img src="/ansoegnu.jpg" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="8" md="5" offset-md="0" offset="2" class="d-flex justify-content-center align-items-center">
        <div>
        <h2>SIMPEL OG NEMT</h2>
          <p class="text-left">
           Ikanobank eller Expressbank giver muligheden til at låne til lige præcis den bil du drømmer om.

Hos Damtop biler ApS kan du få din nye bil finansieret nemt og simpelt 

Du kan hurtigt ansøge om dit billån via vores online ansøgningsskema. 

Alle ansøge om et lån via vores online ansøgningsskema, hvor din ansøgning bliver kreditscoret. For at få et billån er det et krav, at du bor i Danmark, er fyldt 18 år og ikke er registeret i hverken RKI eller Debitor registeret.

Du kan sagtens ansøge om lånet alene, men er du gift eller samboende, er det vigtigt, at I ansøger sammen.

ER DU KLAR TIL AT ANSØGE?
          </p>
          <b-button href="https://selfservice.ikano.dk/herognu/ansogning/products.aspx?kilde=k&type=biler&storeId=16501897&officeId=0" variant="primary">ANSØG NU - IKANOBANK</b-button>
          <b-button href="https://www.expressbank.dk/laan/" variant="primary">ANSØG NU - EXPRESSBANK</b-button>
        </div>
      </b-col>
    </b-row>
    <b-row class="text-center" style="padding-top: 15vh;">
      <b-col cols="8" md="5" offset-md="1" offset="2" class="d-flex justify-content-center align-items-center">
        <div>
        <h2>IKANO BANK</h2>
          <p class="text-left">
            Hos Ikano Bank kan alle ansøge om et lån via vores online ansøgningsskema, hvor din ansøgning bliver kreditscoret. For at få et billån er det et krav, at du bor i Danmark, er fyldt 18 år og ikke er registeret i hverken RKI eller Debitor registeret. Du kan sagtens ansøge om lånet alene, men er du gift eller samboende, er det vigtigt, at I ansøger sammen.
          </p>
          <b-button href="https://selfservice.ikano.dk/herognu/ansogning/products.aspx?kilde=k&type=biler&storeId=16501897&officeId=0" variant="primary">ANSØG NU - IKANOBANK</b-button>
          <b-button href="https://www.expressbank.dk/laan/" variant="primary">ANSØG NU - EXPRESSBANK</b-button>
        </div>
      </b-col>
      <b-col cols="8" md="5" offset-md="0" offset="2" >
        <b-img src="/ikano-finans.jpg" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
    </b-row>
  </b-container>
</template>
'
<script>
  export default {
    mounted: function () {
      let self = this;
      if (!window.showingCarsIntervalTriggered) {
        window.showingCarsIntervalTriggered = true;
        window.setInterval(() => {
          self.$store.dispatch("changeShowingCars");
        }, 5000)
      }
    },
    methods: {
      carPicked(record, index) {
        this.$router.push({path: `/biler/${record}`});
      }
    }
  }
</script>

<style>
 .first-row {
   background: url(/red-jacket-man.jpg) center / cover no-repeat;
   filter: brightness(50%);
   min-height: 65vh;
 }

 @media only screen and (max-width: 600px) {
   .first-row {
     min-height: 35vh;
   }

   h4 {
     font-size: 4vw;
   }

   h1 {
     font-size: 5vw;
   }
 }

 @media only screen and (min-width: 600px) {
   .first-row {
     min-height: 60vh;
   }

   h4 {
     font-size: 1.2vw;
   }

   h1 {
     font-size: 3vw;
   }
 }

 .custom-p {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-family: 'Catamaran', sans-serif;
   font-size: 5vw;
   color: white;
 }
</style>