'<template>
  <b-container fluid>
    <b-row class="text-center">
      <b-col cols="8" offset="2" >
        <div class="text-center">
          <b-img src="/baggrund.jpg" fluid></b-img>
        </div>
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-top: 10vh; ">
      <b-col>
        <h1>VORES BILER</h1> <h3><nuxt-link to="/biler">(se alle)</nuxt-link></h3>
      </b-col>
    </b-row>
    <b-row class="text-center">
      <b-col cols="12" md="4" v-for="item in $store.state.showingCars" :key="item.id">
        <b-card class="mb-2">
          <b-card-header>{{item.title}}</b-card-header>
          <b-img-lazy :src="item.pictureUrls[0]" fluid alt="Responsive image" ></b-img-lazy>
          <b-card-footer>
            <b-row>
              <b-col class="d-flex justify-content-center align-items-center"><h4>{{item.price}}</h4></b-col>
              <b-col class="d-flex justify-content-center align-items-center"><h4>{{item.km}} km</h4></b-col>
              <b-col class="d-flex justify-content-center align-items-center"><b-button @click="carPicked(item.id)" variant="success">Se bilen</b-button></b-col>
            </b-row>
          </b-card-footer>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-top: 10vh;">
      <b-col>
        <h1>VI SAMARBEJDER MED</h1>
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-top: 6vh;">
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/auto-concept.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/autobranchen.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/car-garantie.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/ikano-bank.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/gjensidige-logo.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="6" md="2" offset-md="0" offset="3" class="d-flex justify-content-center align-items-center">
        <b-img src="/express_bank.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-top: 15vh; background-color: rgb(242,242,242,242); padding-top: 15vh; padding-bottom: 15vh;">
      <b-col cols="8" md="5" offset-md="1" offset="2" >
        <b-img src="/Damtop-Logo-lille.png" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
      <b-col cols="8" md="5" offset-md="0" offset="2" >
        <h2>KORT OM OS</h2>
          <p class="text-left">
             Hos Damtop Biler ApS får du en TRYG OG SIKKER handel igennem hele forløbet. 
          Hos os er kunden i centrum og vi vil altid gøre vores bedste for at give den bedst mulige rådgivning 
          vedrørende dit næste bilkøb. Damtop Biler ApS sælger brugte biler, og har altid et stort og bredt udvalg. 
          Vi kan derfor altid være behjælpelig med at finde din næste bil.
          </p>
          <b-button href="#" variant="primary" @click="gotoAbout()">Kontakt os</b-button>
      </b-col>
    </b-row>
    <b-row class="text-center" style="padding-top: 15vh;">
      <b-col cols="8" md="5" offset-md="1" offset="2" class="d-flex justify-content-center align-items-center">
        <div>
        <h2>MULIGHED FOR FINANSERING</h2>
          <p class="text-left">
            Vi tilbyder en attraktiv finansering til køb af din næste bil. Du kan finansere din bil køb med eller uden udbetaling. 
            Det tager kun få minutter at udfylde låneansøgningen, hvorefter den bliver kreditvurderet.
          </p>
          <b-button href="#" @click="gotoFinansering()"  variant="primary">Læs mere</b-button>
        </div>
      </b-col>
      <b-col cols="8" md="5" offset-md="0" offset="2" >
        <b-img src="/finans.jpg" fluid alt="Responsive image" style="padding: 15px;"></b-img>
      </b-col>
    </b-row>
  </b-container>
</template>
'
<script>
  export default {
    mounted: function () {
      let self = this;
      if (!window.showingCarsIntervalTriggered) {
        window.showingCarsIntervalTriggered = true;
        window.setInterval(() => {
          self.$store.dispatch("changeShowingCars");
        }, 5000)
      }
    },
    methods: {
      carPicked(record, index) {
        this.$router.push({path: `/biler/${record}`});
      },
      gotoFinansering: function() {
        this.$router.push({path: "/finansering"});
      },
      gotoAbout: function() {
        this.$router.push({path: "/about"});
      }
    }
  }
</script>

<style>
 .first-row {
   background: url(/baggrund.jpg) center / cover no-repeat;
 }

 @media only screen and (max-width: 600px) {
   .first-row {
     min-height: 35vh;
   }

   h4 {
     font-size: 4vw;
   }

   h1 {
     font-size: 5vw;
   }
 }

 @media only screen and (min-width: 600px) {
   .first-row {
     min-height: 60vh;
   }

   h4 {
     font-size: 1.2vw;
   }

   h1 {
     font-size: 3vw;
   }
 }

 .custom-p {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-family: 'Catamaran', sans-serif;
   font-size: 5vw;
   color: white;
 }
</style>